.circle {
  background: url(images/generated/sprites/suffix.png) no-repeat;
}

.circle.black {
  background: url(images/generated/sprites/suffix.png) -48px 0 no-repeat;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circle.black {
    background: url(images/generated/sprites/suffix@2x.png) 0 0/24px auto no-repeat;
  }
}